body
{
    margin: 0%;
    background-color:rgb(52, 47, 47) ;
}
.head
{
    background-color: rgb(0, 0, 0);
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.bt_grp
{
    position: relative;
    left:-20px;
}
.bts
{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}
.bts:hover
{
    background-color: rgb(33, 32, 29);
}
.head h1{
    position: relative;
    left: -250px;
    text-shadow:0px -2px 4px #fff,0px -2px 10px #FF3,0px -10px 20px #F90,0px -20px 40px #C33;

    
}
.info
{
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h3{
    height: 20vh;
    width: 40vw;
    font-family:'Courier New', Courier, monospace;
    color: rgb(233, 199, 199);
    margin-left: 40px;
}
.cont
{
    color: white;
    font-family:'Courier New', Courier, monospace;
}